# --- PyCharm/IDEA ---
.idea/
*.iml

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# --- Virtualenv ---
.venv/
venv/
ENV/
env/

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Local DB / logs ---
*.db
*.sqlite
*.sqlite3
logs/
