# --- PyCharm/IDEA(IDE) ---
.idea/
*.iml
.vscode/

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# --- Virtualenv ---
.venv/
venv/
ENV/
env/

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Local DB / logs ---
*.db
*.sqlite
*.sqlite3
logs/

# Secrets & local configs
.env
*.local.json

# App data & outputs
data/
*.csv

# Node (на будущее)
node_modules/